/* Colour Variables */
:root {
	/* Navy-Blue | Primary Background Colour */
	--midnight: #21263b;
	/* Dark-Blue | Header Colour */
	--navy:  #2e3c73;
	/* Off-White | Primary Text Colour */
	--snow:  #edeef0;
	/* Bland-Blue | Hover Colour */
   --denim:  #4c79b5;

  --midnightRGB: 33, 38, 59;
  --navyRGB:  46, 60, 115;
  --snowRGB: 237, 238, 240;
  --denimRGB: 76, 121, 181;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
	background: var(--midnight); /* background colour */
	color: #333333;  /* font colour */
	font-family: 'Nunito', sans-serif; /* https://fonts.google.com/ */
	text-align: center;
}

h1 {
	font-family: 'Nunito', sans-serif;
	color: #fffefa;
	text-align: center;
	font-size: 35px;
}

h2, h3 {
	font-family: 'Nunito', sans-serif;
	color: #fffefa;
	text-align: center;
}

/* The Course Section */
p.fancy1 {
	margin: 10px;
	position: relative;
	display: inline-block;
	/* width: 50%; */
	box-sizing: border-box;
	background: var(--snow); 
	padding: 20px;
	font-size: 1.05em;  /* 105% of default font size */
	font-family: 'Nunito', sans-serif;
	border-radius: 10px 10px 10px 10px;
	text-align: center;
}

p.fancy2 {
	margin: 10px;
	position: relative;
	display: inline-block;
	/* width: 50%; */
	box-sizing: border-box;
	background: var(--snow); 
	padding: 20px;
	font-size: 1.05em;  /* 105% of default font size */
	font-family: 'Nunito', sans-serif;	
	border-radius: 10px 10px 10px 10px;
	text-align: center;
}


/* About Me Section */
p.fancy3 {
	margin: 10px;
	position: relative;
	display: inline-block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background: var(--snow); 
	padding: 20px;
	font-size: 1.23em;  /* 123% of default font size */
	font-family: 'Nunito', sans-serif;	
	border-radius: 10px 10px 10px 10px;
	text-align: center;
}

/* Image of Me */
img.me {
	margin: 10px;
	position: relative;
	height: 15%;
	width: 15%;
	border: 5px solid var(--snow);
}

img {
	border-radius: 10px;
}

/* Default link styles */
a:link, a:visited, a:active {
	position: relative;
	display: inline-block;
	color: #333333;
	padding: 5px;
	text-decoration: none;
	transition: all 0.5s ease; /* ease the hover transition */
	font-family: 'Nunito', sans-serif;
}

/* Link on hover */
a:hover {
	color: var(--denim);
	text-decoration: none;
	font-family: 'Nunito', sans-serif;
}

/* 
Hover animation on mail link
Source: https://css-tricks.com/css-link-hover-effects/ -> The Right-to-Left Color Swap Link Hover Effect
*/

a.mail {
	background-image: linear-gradient(
	to right,
	#4c79b5,
	#4c79b5 50%,
	#ffffff 50%
	);
	background-size: 200% 100%;
	background-position: -100%;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: all 0.7s ease-in-out;
}

a.mail:before {
  	content: '';
  	background: #4c79b5;
  	display: block;
  	position: absolute;
  	bottom: -3px;
  	left: 0;
  	width: 0;
  	height: 3px;
}

a.mail:hover {
	background-position: 0;
}

a.mail:hover::before {
	width: 100%;
}

/* Grid Layout for Course and About Me Section */
div.course, div.me {
	display: flex;
	width: 70%;
	margin: auto;
}

/* Title formatting for inside the boxes */
span.overview, span.topic {
	font-size: 22.5px;
}

/* Footer */
footer {
	background-color: var(--navy);
	text-align: center;
	color: var(--snow);
	padding: 50px;
}

footer p{
	margin: 0;
}

@media only screen and (max-width: 970px){
	.course {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	p.fancy1, p.fancy2 {
		width: 75%;
	}
}
